/* здесь используйте глобальные селекторы img, body, html и так далее */
:root .hidden {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $base-color-text;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
