/* здесь используйте глобальные переменные */
$bg-basic-white: #ffffff;
$base-color-text: #444444;
$base-color-text2: #000000;
$bg-basic-green: #68b738;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$basic-grey2: #eaeaea;
$basic-grey3: #e6e6e6;
$special-grey: #cdcdcd;
$special-grey-2: #ebebeb;
$special-grey-3: #d9d9d9;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$special-dark-grey-3: #111111;
$special-dark-grey-4: #666666;
$status-error: #ff8282;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
