.body-container {
  padding: 0;
  max-width: 767px;
  margin: 0 auto;
  background-color: $bg-basic-white;
}

/* TABLET */
@media (min-width: $tablet-width) {
  .body-container {
    width: 1439px;
  }
}

/* DESKTOP */
@media (min-width: $desktop-width) {
  .body-container {
    min-width: 100%;
  }

  .body-container__header {
    width: 100%;
  }
}
