.button-plus {
  border: none;
  cursor: pointer;
  background-image: url("../../icons/stack.svg#plus-button");
  width: 30px;
  height: 30px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}
