

.card__foto {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: center;
}

.card__image {
  margin-top: 11px;
}

.card__title {
  grid-column-start: 2;
  grid-row-start: 1;
  padding: 0;
  margin: 0;
}

.card__text-container {
  grid-column-start: 2;
  grid-row-start: 2;
}

.card-text__first-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text__second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text__third-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title-link {
  @include title-card;
  display: block;
  margin: 0;
  text-decoration: none;
  color: $special-dark-grey-2;
}

.card__title-add {
  @include title-card;
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  text-decoration: none;
  color: $special-dark-grey-3;
}

.card__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px 20px 0;
}

.card__description-add {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.card__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.card__images-link {
  @include flex-center;
}

.card__line-container {
  @include flex-center;
  padding: 0;
  margin: 0;
}

.card__line {
  width: 320px;
  height: 1px;
  background-color: $special-grey-2;
  border: 0;
  margin: 0;
}


.card__button-container {
  @include flex-center;
  margin-top: 17px;
  margin-bottom: 25px;
}

.card__button {
  @include button-text;
  text-align: center;
  border: none;
  padding: 10px 0;
  min-width: 280px;
  min-height: 40px;
}

.card__button-add {
  @include flex-center;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 23px;
}

.card__button-show-all {
  @include button-text;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  padding: 10px 0;
  min-width: 280px;
  min-height: 40px;
  margin: 0;
  margin-bottom: 25px;
}
