.example__container {
  padding: 25px 20px 40px;
  background-color: $basic-grey2;
  display: flex;
  flex-direction: column;
}

.example__title {
  @include title-section;
  display: block;
  margin: 0;
  padding: 0;
  color: $base-color-text2;
}

.example__description {
  @include base-text;
  margin: 0;
  padding: 40px 0 20px;
  display: block;
}

.example__summary-text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-color-text2;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.example__summary-container {
  margin-bottom: 20px;
  position: relative;
}


/* TABLETS */
@media (min-width: $tablet-width) {
  .example__container {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 0;
    background-color: $bg-basic-white;
    display: flex;
    flex-direction: column;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    display: block;
    margin: 0;
    padding: 20px 0 60px 30px;
    color: $base-color-text2;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0 0 53px 30px;
    display: block;
    max-width: 740px;
  }

  .example__before-slider-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 150px;
    padding: 0 30px;
    max-height: 162px;
  }

  .example__slider {
    margin: 0;
    padding: 0;
  }

  .example__summary-text {
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    display: block;
    max-width: 174px;
    padding-top: 15px;
  }

  .example__statistic {
    min-width: 367px;
  }
}
