
.main-header__container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;


  @media (min-width: 768px) {
    flex-direction: row;
    padding: 25px 34px 0 30px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 110px;
    flex-direction: row;
    justify-content: space-between;
    position: static;
  }
}

.main-header__logo {
  padding: 13px 21px 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo-image-container {
  display: block;
  width: 33px;
  height: 38px;
  margin-right: 55px;
}

.main-header__logo-text-container {
  display: block;
  width: 101px;
  height: 18px;
  margin-right: 65px;
}

.main-header__logo-image {
  display: block;
  width: 33px;
  height: 38px;
}

.main-header__logo-text {
  display: block;
  width: 101px;
  height: 18px;
}


.main-header__logo-image:hover {
  opacity: 0.8;
}

.main-header__logo-image:active {
  opacity: 0.6;
}

.main-header__logo-text:hover {
  opacity: 0.8;
}

.main-header__logo-text:active {
  opacity: 0.6;
}

.main-header__hero {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-header__line-container {
  @include flex-center;
  padding: 0;
  margin: 0;
}

.main-header__line {
  width: 320px;
  height: 1px;
  background-color: $basic-grey3;
  border: 0;
  margin: 0;
}

.main-header__toggle {
  display: block;
  border: none;
  background-color: $bg-basic-white;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.main-header__toggle--opened {
  display: none;
  width: 18px;
  height: 18px;
  background-image: url("../../icons/toggle-button-close.svg");
}

.main-header__toggle--close {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/button_toggle.svg");
}

.main-header__nav {
  display: block;
}

/* TABLET */
@media (min-width: $tablet-width) {
  .main-header__nav {
    display: flex;
    flex-direction: row;
    min-width: 436px;
  }

  .main-nav__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .main-header__logo {
    display: flex;
    flex-direction: row;
    min-width: 174px;
    min-height: 50px;
    padding: 0;
  }

  .main-header__logo-image {
    display: block;
    width: 60px;
    height: 50px;
  }

  .main-header__logo-image-container {
    display: flex;
    align-items: center;
    width: 60px;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-right: 13px;
  }

  .main-header__logo-text-container {
    width: 101px;
    height: 18px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: auto;
  }

  .main-header__logo-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .main-header__toggle-container {
    display: none;
  }

  .main-nav__line {
    display: none;
  }
}


/* DESKTOP */
@media (min-width: $desktop-width) {
  .main-header__container::before {
    content: "";
    width: 720px;
    height: 694px;
    top: 0;
    right: 0;
    left: auto;
    position: absolute;
    background-image: url("../../images/hero-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
  }

  .main-header__container--catalog::before {
    display: none;
  }

  .main-header__container--catalog {
    padding-bottom: 0;
  }

  .main-header__logo {
    display: flex;
    flex-direction: row;
    min-width: 202px;
    min-height: 59px;
    padding: 0;
    margin: 0;
  }

  .main-header__logo-image {
    display: block;
    width: 70px;
    height: 59px;
  }

  .main-header__logo-image-container {
    display: flex;
    align-items: center;
    width: 70px;
    height: 59px;
    padding: 0;
    margin: 0;
    margin-right: 14px;
  }

  .main-header__logo-text-container {
    width: 118px;
    height: 21px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: auto;
  }

  .main-header__logo-text {
    display: block;
    width: 118px;
    height: 21px;
  }

  .main-header__hero {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 190px;
    padding-bottom: 45px;
  }
}
