
.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__toggle--close {
  cursor: pointer;
}

.main-nav__item {
  @include flex-center;
  flex-direction: column;
  padding: 0;
}


.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-color-text2;
  padding-top: 22px;
  padding-bottom: 24px;
}


.main-nav__link--current {
  span {
    border-bottom: 2px solid $basic-green;
    padding-bottom: 8px;
    z-index: 1;
  }
}

.main-nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__line {
  width: 320px;
  height: 1px;
  background-color: $basic-grey3;
  border: 0;
  margin: 0;
}
