.main__example {
  width: 100%;
  position: relative;
}

@media (min-width: $tablet-width) {
  .main__example {
    width: 100%;
    position: relative;
  }

  .main__example::before {
    content: "";
    width: 100%;
    height: 462px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: $basic-grey2;
    z-index: 0;
  }
}

@media (min-width: $desktop-width) {
  .main__products,
  .main__steps {
    max-width: 1440px;
    margin: 0 auto;
  }

  .main__example {
    width: 100%;
    position: relative;
  }

  .main__example::before {
    content: "";
    width: 100%;
    height: 462px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $basic-grey2;
    z-index: 0;
  }
}
