.map__partners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 20px;
}

.map__partners--catalog {
  background-color: $basic-grey;
}

.map__container {
  background-color: $basic-grey;
}

/* TABLETS */
@media (min-width: $tablet-width) {
  .map__partners {
    display: flex;
    align-items: center;
    padding: 0 70px;
    justify-content: space-between;
    min-height: 200px;
  }

  .map__container {
    min-width: 768px;
    min-height: 400px;
  }
}
