.promo-banner {
  display: flex;
  background-image: url("../../images/promo-background-mobile@1x.png");
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 290px;
  margin: 37px 20px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 70px 30px 0;
    background-image: url("../../images/promo-background-tablet@1x.png");
    max-width: 707px;
    min-height: 200px;
    max-height: 200px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: -25px;
    margin-top: -26px;
    background-image: url("../../images/promo-background-desktop@1x.png");
    max-width: 245px;
    min-width: 245px;
    min-height: 288px;
    max-height: 288px;
  }
}

.promo-banner::after {
  content: "";
  display: block;
  width: 80px;
  height: 83px;
  margin: auto;
  top: 59px;
  left: 101px;
  background-image: url("../../images/icon_gift.png");
  position: absolute;

  @media (min-width: $tablet-width) {
    top: 56px;
    left: 77px;
    margin: 0;
    background-image: url("../../images/icon_gift.png");
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    top: 56px;
    left: 83px;
    margin: 0;
    background-image: url("../../images/icon_gift.png");
    background-position: center;
  }
}

.promo-banner__banner-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $bg-basic-white;
  text-align: center;
  display: block;
  padding-top: 187px;
  padding-right: 61px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    padding-top: 71px;
    text-align: left;
    padding-right: 125px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-top: 185px;
    text-align: center;
  }
}
