.slider-button {
  @include flex-center;
  position: absolute;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
  /*
  mask-image: url("../../icons/stack.svg#thumb");
  */
  background-position: center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 2;
}
/*
.slider-button::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 108px;
  border-radius: 2px;
  background-color: $special-dark-grey-4;
  display: block;
  top: -135%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/*
.slider-button::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 108px;
  border-radius: 2px;
  background-color: $special-dark-grey-4;
  display: block;
  bottom: 408%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
*/
.slider-button:hover {
  background-color: $basic-green;
}

.slider-button:active {
  background-color: $basic-green-2;
  opacity: 0.6;
}

/*
.slider-button__icon {
  @include flex-center;
  position: absolute;
  bottom: 50%;
}
*/
