.slider {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 280px;
  min-height: 256px;
}

.slider__image {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
.slider::before {
  @include flex-center;
  position: absolute;
  content: "";
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: $special-dark-grey-4;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
*/
