.slider {
  position: relative;
  margin: 0 auto;
  margin-top: 94px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
    margin-top: 94px;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 750px;
    position: relative;
    margin-top: -206px;
    margin-left: 115px;
    padding: 0;
  }
}
