.social__list {
  @include flex-center;
  padding: 0;
  margin: 0;
  gap: 24px;
  flex-wrap: wrap;
  list-style-type: none;
}

.social__button--vk {
  display: flex;
  mask-image: url("../../icons/stack.svg#vkontakte");
  width: 28px;
  height: 22px;
  background-color: $special-dark-grey-4;

  &:hover {
    background-color: $bg-basic-green;
  }

  &:focus {
    background-color: $bg-basic-green;
  }

  &:active {
    background-color: #c9e0ba;
  }
}

.social__button--telegram {
  display: flex;
  mask-image: url("../../icons/stack.svg#telegram");
  width: 28px;
  height: 22px;
  background-color: $special-dark-grey-4;

  &:hover {
    background-color: $bg-basic-green;
  }

  &:focus {
    background-color: $bg-basic-green;
  }

  &:active {
    background-color: #c9e0ba;
  }
}

.social__button--youtube {
  display: flex;
  mask-image: url("../../icons/youtube.svg");
  width: 28px;
  height: 22px;
  background-color: $special-dark-grey-4;

  &:hover {
    background-color: $bg-basic-green;
  }

  &:focus {
    background-color: $bg-basic-green;
  }

  &:active {
    background-color: #c9e0ba;
  }
}

/* TABLETS */
@media (min-width: $tablet-width) {
  .social__list {
    padding: 0;
    padding-left: 36px;
  }
}
