

.steps__title {
  @include title-section;
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  color: $base-color-text2;
}

.steps__description {
  @include base-text;
  padding: 0;
  margin: 0;
  display: flex;
  align-self: center;
}

.steps__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 49px;
}

.steps__list {
  padding: 0;
  margin: 0;
}

.steps__item {
  display: flex;
  gap: 20px;
}

.steps__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;
  color: $bg-basic-white;
  background-position: center;
  display: flex;
  align-self: flex-start;
  flex-shrink: 0;
}

.steps__item--first::before {
  background-image: url("../../icons/stack.svg#icon_leaf");
  background-repeat: no-repeat;
  display: block;
  background-size: 30px 32px;
}

.steps__item--second::before {
  background-image: url("../../icons/stack.svg#icon_water");
  background-repeat: no-repeat;
  display: block;
  background-size: 26px 28px;
}

.steps__item--third::before {
  background-image: url("../../icons/stack.svg#icon_eat");
  background-repeat: no-repeat;
  display: block;
  background-size: 25px 30px;
}

.steps__item--fourth::before {
  background-image: url("../../icons/stack.svg#icon_ring");
  background-repeat: no-repeat;
  display: block;
  background-size: 26px 31px;
}
