.subscribe__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 108px;
    padding: 0;
    margin-bottom: 104px;
  }
}

.subscribe__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  display: block;
  padding: 40px 0 32px;
  margin: 0;
  color: $base-color-text2;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    padding-bottom: 66px;
    padding-left: 70px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding: 0;
    padding-bottom: 66px;
    padding-left: 110px;
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .subscribe__title::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    top: 13px;
    left: 0;
    background-color: $bg-basic-green;
    position: absolute;
  }

  .subscribe__title::after {
    content: "";
    display: block;
    width: 456px;
    height: 2px;
    top: 13px;
    right: 0;
    background-color: $bg-basic-green;
    position: absolute;
  }
}

@media (min-width: $desktop-width) {
  .subscribe__title::before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    top: 18px;
    left: 0;
    background-color: $bg-basic-green;
    position: absolute;
  }

  .subscribe__title::after {
    content: "";
    display: block;
    width: 1035px;
    height: 2px;
    top: 18px;
    right: 0;
    background-color: $bg-basic-green;
    position: absolute;
  }
}

.subscribe__description {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: block;
  color: $base-color-text2;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    max-width: 632px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 32px;
    max-width: 1360px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 7px;
  }
}


.subscribe__form-container {
  @include flex-center;
  flex-direction: column;
  margin-top: 24px;
  gap: 16px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 80px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 0;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 80px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.subscribe__form {
  width: auto;
  height: auto;
  display: flex;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 632px;
    min-height: 56px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
  }
}

.subscribe__field {
  width: 280px;
  min-height: 56px;
  border: 1px solid $special-grey;
  background: $bg-basic-white;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 376px;
    margin-left: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
    margin: 0;
  }
}

.subscribe__field::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: $base-color-text;
  text-transform: uppercase;
  display: block;
  padding: 13px;
}


.subscribe__button {
  @include button-text;
  color: $bg-basic-white;
  text-transform: uppercase;
  background-color: $bg-basic-green;
  border: 0;
  min-width: 280px;
  min-height: 56px;
  text-align: center;
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    min-width: 256px;
    font-size: 20px;
    line-height: 26px;
    margin-right: 68px;
  }

  @media (min-width: $desktop-width) {
    min-width: 256px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-right: 135px;
  }
}
