.title-special {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
}

@media (min-width: $tablet-width) {
  .title-special {
    font-size: 34px;
    font-weight: 400;
    line-height: 34px;
  }
}
